alembic==1.13.1
APScheduler==3.10.4
ccxt==4.2.25
fastapi==0.109.2
numpy==1.26.4
pandas==2.2.0
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.0
SQLAlchemy==2.0.25
uvicorn==0.27.1
websockets==12.0
